@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex justify-content-center align-items-center" style="width:150px; height: 200px; background-color: lightgray; font-size:100px;">
    <a style="text-decoration: none; color: black;" asp-action="Docs/Create"> + </a>
</div>
Test